.image-medium {
    background-image: url(../../assets/images/lesson_9/1.jpeg);
    min-height: 274px;
    background-size: cover;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  
  .image-medium-two {
    background-image: url(../../assets/images/lesson_9/2.png);
    min-height: 274px;
    background-size: cover;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }

  .image-medium-three {
    background-image: url(../../assets/images/lesson_9/3.jpeg);
    min-height: 274px;
    background-size: cover;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }

  .image-medium-four {
    background-image: url(../../assets/images/lesson_9/4.jpeg);
    min-height: 274px;
    background-size: cover;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }

  .image-large{
    background-image: url(../../assets/images/lesson_9/5.jpeg);
    min-height: 350px;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }